@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');


#body{
    opacity: .1;
}


.z-index-10 {
    z-index: 10;
}

/* colours */
.text-indent-15 {
    text-indent: 15px;
}

.text-justify {
    text-align: justify;
}

.sm-line-spacing {
    line-height: 21px;
}


#theme,
#theme-ball,
#the-icon,
#skill-progress,
.skill,
.skills-images {
    /* transition: all .5s ease-in-out; */
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}


#theme-bg {
    width: 60px;
    height: 30px;

    outline: 0.2px solid white;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#theme-ball {
    content: "";
    background-image: url();
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background-color: white;
    /* outline: .5px solid black; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    transition: all .3s ease-in-out;




}


.sun {
    margin-left: 2px;

}

#theme {
    display: none;
}

body {
    overflow: hidden;
}

#body {
    height: 100dvh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#body::-webkit-scrollbar {
    display: none;
}

section {
    scroll-snap-align: start;


}

.navbar-button {
    position: relative;
}


.navbar-button::after {
    content: "";
    text-align: center;
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 50%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: all .5s ease;
}

.navbar-button:hover::after {

    width: 100%;
    left: 0;
    transition: all .5s ease-in-out;

}

.navbar-button:active::after {
    width: 100%;
    left: 0;
    border-color: red;
    transition: all .5s ease-in-out;

}

.name h1 {
    font-family: 'Comic Neue', cursive;
    /* font-size: 10dvh; */
}

.social-svg img {
    margin-right: 15px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.social-svg img:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.my-img {
    margin-top: 100px;
}

.my-img img {
    height: 450px;
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 white);
}

.text-shadow {
    text-shadow: 1px 1px 5px;
    -webkit-text-stroke: .3px white;
}

.head-text {
    margin-top: 60px;
}

.fh {
    height: 100dvh;
}

.Program-img img {
    height: 300px;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 0px;


}

.self-text {
    width: 550px;
}

.self-text p {
    text-indent: 65px;
    font-size: 17px;
    text-align: justify;
}

.education-main {
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.education-main::-webkit-scrollbar {
    display: none;
}

.education-card {
    width: 500px;
    display: inline-block;
    white-space: normal;

}

.education-img {
    height: 300px;
}

.education-img img {
    height: 70px;
}



.scroll-button-education,
.scroll-button-project {
    top: 40%;
    transform: translateY(-40%);

}

#button-left,
#button-leftt {
    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(to right, blue, rgb(255, 255, 255, 0));

}

#button-right,
#button-rightt {
    border-radius: 10px 0px 0px 10px;
    background-image: linear-gradient(to left, blue, rgb(255, 255, 255, 0));

}

.skill-box {
    height: 150px;
}

.bg-html {

    background-color: #feaa85;
}

.bg-css {

    background-color: #64dfdf;
}

.bg-javascript {

    background-color: #fdf5c4;
}

.bg-java {
    background-color: #cde8fa;
}

.bg-bootstrap {
    background-color: #caa3fd;
}

.bg-reactjs {
    background-color: #d8f7ff;
}

.bg-php {
    background-color: #b4b8eb;
}

.bg-sql {
    background-color: #ffe6ba;
}

.bg-excel {
    background-color: #52cc89;
}

.bg-psd {
    background-color: #31a8ff;
}

.bg-ai {
    background-color: #ff9a00;
}

.bg-pr {
    background-color: #8c8cff;
}

.bg-canva {
    background-color: #89dffc;
}

.bg-figma {
    background-color: #a259ff;
}

.bg-tableau {
    background-color: #ffd6db;
}

.bg-arduino {
    background-color: #00eefa;
}

.bg-word {
    background-color: #6fa7f9;
}


.html {
    background-color: #e44d26;
}

.css {
    background-color: #1673b6;
}

.javascript {
    background-color: #d6be00;
}

.bootstrap {
    background-color: #7911f7;
}

.reactjs {
    background-color: #02ccff;
}

.java {
    background-color: #5382a1;
}

.php {
    background-color: #787cb4
}

.sql {
    background-color: #00608c;
}

.excel {
    background-color: #097c3d;
}

.psd {
    background-color: #03365b;
}

.ai {
    background-color: #330000;
}

.pr {
    background-color: #000049;
}

.canva {
    background-color: #1aa3d1;
}

.figma {
    background-color: #1e1e1e;
}

.tableau {
    background-color: #c72236;
}

.arduino {
    background-color: #12999f;
}

.word {
    background-color: #4068a4;
}




.html-progress {
    background-color: #feaa85;
}

.css-progress {
    background-color: #64dfdf;
}

.javascript-progress {
    background-color: #ffde00;
}

.bootstrap-progress {
    background-color: #caa3fd;
}

.reactjs-progress {
    background-color: #02657e;
}

.java-progress {
    background-color: #66b4e7;
}

.php-progress {
    background-color: #b4b8eb;
}

.sql-progress {
    background-color: #f7ae30;
}

.excel-progress {
    background-color: #52cc89;
}

.psd-progress {
    background-color: #31a8ff;
}

.ai-progress {
    background-color: #ff9a00;
}

.pr-progress {
    background-color: #8c8cff;
}

.canva-progress {
    background-color: #89dffc;
}

.figma-progress {
    background-color: #a259ff;
}

.tableau-progress {
    background-color: #ff99a5;
}

.arduino-progress {
    background-color: #3ef4fd;
}

.word-progress {
    background-color: #6fa7f9;
}


.skills-images img {

    width: 85px;
    padding: 4px;

}

.skills-images-tableau img {

    width: 130px;
    padding: 4px;

}

/* #skill-progress {
    display: none;

} */

.skill,
#button-left,
#button-right,
#button-leftt,
#button-rightt,
.cursor-pointer {
    cursor: pointer;
}

.skill {
    overflow: hidden;
}

.po {
    transition: all .3s ease-in-out;

    bottom: -58px;
}

.skill:hover .po {
    bottom: 0px;
    transition: all .3s ease-in-out;
}





.skill:hover .skills-images {
    opacity: .4;
    transition: all 0.2s ease;
}



.project-container {
    white-space: nowrap;
}

.project-card {
    height: 350px;
    width: 250px;
}

.project-img {
    height: 350px;
    overflow: scroll;
    border-bottom: 1px solid rgb(143, 142, 142);
    white-space: normal;

}

.project-img::-webkit-scrollbar,
.project-container::-webkit-scrollbar {
    display: none;
}

.project-img img {
    width: 246px;

}

.project-logo {
    margin-right: 10px;

}

.project-logo img {
    width: 15px;

}

.project-overlay {
    bottom: 0;
    transform: translateY(100%);
    transition: all .5s ease-in-out;
    padding-bottom: 20px;

}

.project-card:hover .project-overlay {
    transform: translateY(0%);
}

.experience-body-text {
    font-size: 18px;
}

.certificates {
    width: 600px;

}

#contacts {
    background: rgb(83, 65, 211);
    background: linear-gradient(50deg, rgba(83, 65, 211, 1), rgba(192, 82, 235, 1));

}

.contact-img {
    width: 350px;
}

form {
    width: 450px;
    margin: auto;
}

.input {
    position: relative;
}

form .btn {
    width: 100%;
}

#message {
    padding-top: 10px;
    height: 100px;
}

.form input,
#message {
    width: 100%;
    height: 45px;
    border: none;
    /* border: 1px solid black; */
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 15px;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 255, 0.112);

}

.form label {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translatey(-18%);
    left: 0;
    padding: 0 10px;
    transition: all .3s ease-in-out;
    font-weight: normal;


}

.form .input:focus~.label,
.form .input:valid~.label {
    top: 10px;
    left: 10px;

    font-size: 14px;
    color: rgb(0, 0, 0);
    transition: all .3s ease-in-out;
    background-color: white;
    border-radius: 10px;
}

.form .input:focus,
.form .input:valid {
    background-color: blue;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    color: white;
}

#message {
    height: 80px;
}

#mela {
    position: absolute;
    top: 20px;
}

#message:focus,
#message:valid {
    height: 80px;
    background-color: blue;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    color: white;
}

#message:focus~#mela,
#message:valid~#mela {
    top: 10px;
    left: 10px;

    font-size: 14px;
    color: rgb(0, 0, 0);
    transition: all .3s ease-in-out;
    background-color: white;
    border-radius: 10px;
}

#star-form input {
    width: 100%;
    height: 50px;
    border: none;
    /* border: 1px solid black; */
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 15px;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 255, 0.112);

}

#star-form label {
    font-size: 18px;
    font-weight: 500;

    transition: all .3s ease-in-out;
}

#star-form input:focus,
#star-form input:valid {
    background-color: blue;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    color: white;
}

#pro-scroll {
    scroll-behavior: smooth;
}

@media screen and (max-width:768px) {
    #body {
        scroll-snap-type: none;

    }

    .fh {
        height: 100%;

    }

    .my-img img {
        height: 400px;
    }

}

.chat-bot-img {
    width: 100px;
    top: 30%;
}

.snow-1 {
    position: absolute;
    top: 0px;
    left: 0;
    animation: snow 3s linear infinite;
}

.snow-2 {
    position: absolute;
    top: 0px;
    left: 20px;
    animation: snow 3s linear infinite;
    animation-delay: 2s;
    opacity: 0;
}

.snow-3 {
    position: absolute;
    top: 0px;
    left: 40px;
    animation: snow 3s linear infinite;
    animation-delay: 3.5s;
    opacity: 0;
}

.snow-4 {
    position: absolute;
    top: 0px;
    left: 50px;
    animation: snow 3s linear infinite;
    animation-delay: 4.6s;
    opacity: 0;
}

.snow-5 {
    position: absolute;
    top: 0px;
    left: 60px;
    animation: snow 3s linear infinite;
    animation-delay: 6.3s;
    opacity: 0;
}

#chatbot-body {
    height: 350px;
    overflow: auto;
    scroll-behavior: smooth;
}

#chatbot-body::-webkit-scrollbar {
    display: none;
}

.chat-input {
    background: linear-gradient(50deg, blue, rgb(255, 0, 0));


}

.chat-output {
    background: linear-gradient(50deg, red, blue);


}

.loader {
    height: 30px;
    display: inline-block;
  }
  
  .loader > div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    box-shadow: 0 0 10px blue;
    background:blue;
    float: left;
    margin: 5px;
    transform: scale(2);
  }
  
  .loader > div:nth-child(1) {
    animation: anm-BL-53-move1 1s infinite linear;
  }
  
  .loader > div:nth-child(2) {
    animation: anm-BL-53-move2 1s infinite linear;
    animation-delay: 0.2s;
  }
  
  .loader > div:nth-child(3) {
    animation: anm-BL-53-move3 1s infinite linear;
    animation-delay: 0.3s;
  }
  
  .loader > div:nth-child(4) {
    animation: anm-BL-53-move4 1s infinite linear;
    animation-delay: 0.4s;
  }
  
  .loader > div:nth-child(5) {
    animation: anm-BL-53-move5 1s infinite linear;
    animation-delay: 0.5s;
  }
  
  @keyframes anm-BL-53-move1 {
    50% {
      background: BLUE;
      transform: scale(1);
    }
  }
  
  @keyframes anm-BL-53-move2 {
    50% {
      background: BLUE;
      transform: scale(1);
    }
  }
  
  @keyframes anm-BL-53-move3 {
    50% {
      background: BLUE;
      transform: scale(1);
    }
  }
  
  @keyframes anm-BL-53-move4 {
    50% {
      background: BLUE;
      transform: scale(1);
    }
  }
  
  @keyframes anm-BL-53-move5 {
    50% {
      background: BLUE;
      transform: scale(1);
    }
  }
    
  


@keyframes snow {
    0% {
        top: 100px;
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}

/* @media screen and (orientation:landscape){
    .fh {
        height: 100%;

    }
    #body {
        scroll-snap-type: none;

    }
} */

@media screen and (max-height:400px)  and (orientation:landscape){
    #body{
        scroll-snap-type: none;
    }

    .fh {
        height: 100%;

    }
    
    .name {
        margin-top: 30px;

    }

    .my-img {
        margin-top: 20px;
    }

    .my-img img {
        height: 350px;
    }

    .social-svg img {
        margin-right: 8px;
        width: 40px;
        border: 1px solid black;
        border-radius: 50%;
    }

    .head-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .Program-img img {
        height: 100%;
        width: 100%;

        border-radius: 10px;
        margin-left: 0px;
        margin-top: 0px;


    }



    .self-text {
        width: 100%;

        margin-top: 15px;
        padding: 100px;
    }

    form {
        width: 70%;

        margin: auto;


    }

    .chat-bot-img {
        width: 70px;
        top: 50%;
    }

    .education-card {
        width: 250px;
        display: inline-block;
    }
}

@media screen and (min-height:700px){
    #body {
        scroll-snap-type: none;

    }

    .fh {
        height: 100%;

    }

    .name {
        margin-top: 30px;

    }

    .my-img {
        margin-top: 20px;
    }

    .my-img img {
        height: 350px;
    }

    .social-svg img {
        margin-right: 8px;
        width: 40px;
        border: 1px solid black;
        border-radius: 50%;
    }

    .head-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .Program-img img {
        height: 100%;
        width: 100%;

        border-radius: 10px;
        margin-left: 0px;
        margin-top: 0px;


    }



    .self-text {
        width: 100%;

        margin-top: 15px;
        padding: 100px;
    }

    form {
        width: 70%;

        margin: auto;


    }

    .chat-bot-img {
        width: 100px;
        top: 70%;
    }

    .education-card {
        width: 250px;
        display: inline-block;
    }
}



@media screen and (max-width: 768px) {
    #body {
        scroll-snap-type: none;

    }

    .fh {
        height: 100%;

    }

    .name {
        margin-top: 30px;

    }

    .my-img {
        margin-top: 20px;
    }

    .my-img img {
        height: 350px;
    }

    .social-svg img {
        margin-right: 8px;
        width: 40px;
        border: 1px solid black;
        border-radius: 50%;
    }

    .head-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .Program-img img {
        height: 100%;
        width: 100%;

        border-radius: 10px;
        margin-left: 0px;
        margin-top: 0px;


    }



    .self-text {
        width: 100%;

        margin-top: 15px;
        padding: 20px;
    }

    form {
        width: 70%;

        margin: auto;


    }

    .chat-bot-img {
        width: 70px;
        top: 50%;
    }

    .education-card {
        width: 250px;
        display: inline-block;
    }
}

@media screen and (max-width:450px) {
    #body {
        scroll-snap-type: none;

    }

    .fh {
        height: 100%;

    }

    .social-svg img {
        margin-right: 8px;
        width: 30px;
        border: 1px solid black;
        border-radius: 50%;
    }

    .my-img img {
        height: 380px;
    }

    .head-text {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .Program-img img {
        height: 100%;
        width: 100%;

        border-radius: 10px;
        margin-left: 0px;
        margin-top: 0px;


    }

    .Program-img {
        width: 100%;
    }

    .self-text {
        width: 100%;
        padding: 10px;
        margin-top: 12px;
    }




    .contact-text h5 {
        font-size: 12px;
    }

    form {
        width: 100%;
        margin: auto;
    }

    .chat-bot-img {
        width: 60px;
        top: 50%;
    }

    .education-card {
        width: 250px;
        display: inline-block;
    }

    .education-img {
        height: 300px;
    }

    .education-img img {
        height: 70px;
    }


}